:root {
  /* Primary Gradient Colors */
  --gradient-blue: #3b82f6;
  --gradient-purple: #a855f7;
  --gradient-pink: #ec4899;

  /* Background Colors */
  --bg-main: #111827;
  /* Hero & page background */
  --bg-dark-gray: #1f2937;
  /* Gradient transition */
  --bg-card: #1e293b;
  /* Cards (internship/experience) */
  --bg-header: #ec4899;
  /* Header top bar */

  /* Text Colors */
  --text-white: #ffffff;
  --text-subtle: #d1d5db;
  --text-heading: #ec4899;

  /* Button Backgrounds */
  --btn-pink: #ec4899;
  --btn-blue: #3b82f6;

  /* Utility Colors */
  --code-green: #10b981;
  /* Used in code editor sidebar */

  /* Font size */
  --navLogoText: 1.75rem;
  --navMenuText: 1.125rem;
  --headingSize: 2.5rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

#container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  padding: 0 20px;
  cursor: pointer;
}

.navbar {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar .menu {
  padding-right: 10%;
}

.menu a {
  text-decoration: none;
  color: var(--text-white);
  font-size: 1rem;
  padding: 0px 8px;
  cursor: pointer;
}

.menu a:hover {
  color: var(--gradient-pink);
  font-size: 1.1rem;
  transition: all .3s ease;
}




/* Home CSS CODE */
.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 24px;

}

#infoHeading {
  justify-content: center;
  align-items: center;
}

#infoHeading h1 {
  background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink), var(--gradient-purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  text-align: center;
}

#infoHeading p {
  display: flex;
  flex-wrap: wrap;

  color: var(--text-white);
  font-size: 1.5rem;
}

#mainButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#mainButtons a {
  text-decoration: none;
  color: var(--text-white);
  background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink), var(--gradient-purple));
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  gap: 8px;
  cursor: pointer;

}

#mainButtons a:last-child {
  background: linear-gradient(to right, var(--gradient-purple), var(--gradient-blue));
}

#mainButtons a:hover {
  border: 1px solid var(--text-white);
  background: transparent;
  transition: all 0.3s ease;
}

/* About Me CSS CODE */
#aboutMe {
  justify-content: flex-start;
  padding-bottom: 5px;
  animation-delay: 0.2s;
  background: var(--bg-dark-gray);

}

#aboutMe h1 {
  color: var(--code-green);
  font-size: var(--headingSize);
  text-align: center;
  margin-top: 24px;

}

#aboutMe p {
  margin: 0 10%;
  font-size: 1.5rem;
  color: var(--text-subtle);
  text-align: justify;
}

/* Experience and Internship Section */
#experience {
  background: var(--bg-main);
  animation-delay: 0.2s;
}

#experience h1 {
  color: var(--text-heading);
  font-size: var(--headingSize);
  text-align: center;
  margin-top: 24px;
}

.internship {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 10%;
  margin-bottom: 24px;
}

.internshipTab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--bg-card);
  border-radius: 15px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.20), -5px -10px 10px rgba(0, 0, 0, 0.20);
  height: auto;
  width: 50%;

}

.internshipTab:nth-child(2) {
  transition-delay: 100ms;
}

.internshipTab:hover {
  box-shadow: 4px 4px 10px var(--gradient-blue), -4px -4px 10px var(--gradient-pink);
  scale: 1.01;
  transition: all 0.3s ease;
}

.internshipTab h3 {
  color: var(--gradient-blue);
  padding: 16px;
}

.internshipTab p {
  color: var(--text-subtle);
  padding: 16px;
  margin-top: -24px;
}

/* Projects Section CSS CODE */

#projectMain {
  background: var(--bg-dark-gray);
}

#projectMain h1 {

  color: var(--code-green);
  font-size: var(--headingSize);
  margin-top: 24px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  margin: 0 10%;
  height: 70vh;
}

.projectTab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.20), -5px -10px 10px rgba(0, 0, 0, 0.20);
  width: 25%;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--bg-main);
}

.projectTab:nth-child(2) {
  transition-delay: 100ms;
}

.projectTab:nth-child(3) {
  transition-delay: 200ms;
}

.projectTab:nth-child(4) {
  transition-delay: 300ms;
}


.projectTab:hover {
  box-shadow: 4px 4px 5px var(--code-green), -4px -4px 5px var(--gradient-purple);
  scale: 1.03;
  transition: all .3s ease;
}

.projectTab h2 {
  color: var(--gradient-purple);
  font-size: 32px;
}

.projectTab p {
  color: var(--text-white);
  text-align: justify;
}

.technology {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 8px;
}

.technology strong {
  color: var(--text-white);
  font-size: 16px;
}

.technology span {
  color: var(--text-subtle);
  font-size: 14px;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  align-items: center;
}

.projectLinks a {
  text-decoration: none;
  color: var(--gradient-pink);
  font-size: 16px;
  cursor: pointer;
}

.projectLinks a:hover {
  color: var(--gradient-purple);
  font-size: 18px;
  scale: 1.03;
  transition: all .3s ease;
}



#techStack {
  background: var(--bg-main);

}

#techStack h1 {
  color: var(--gradient-purple);
  font-size: var(--headingSize);
  margin-top: 24px;
  text-align: center;
}

.skillsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 10%;
  justify-content: center;
}

.skills {
  flex: 1 1 calc(16.66% - 24px);
  /* 6 per row with spacing */
  max-width: calc(16.66% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-dark-gray);
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.2), -2px -4px 8px rgba(255, 255, 255, 0.2);
  height: 80%;
  border-radius: 16px;
  padding: 5px;
}

.skills:nth-child(2) {
  transition-delay: 100ms;
}

.skills:nth-child(3) {
  transition-delay: 150ms;
}

.skills:nth-child(4) {
  transition-delay: 200ms;
}

.skills:nth-child(5) {
  transition-delay: 250ms;
}

.skills:nth-child(6) {
  transition-delay: 300ms;
}

.skills:nth-child(7) {
  transition-delay: 0;
}

.skills:nth-child(8) {
  transition-delay: 100ms;
}

.skills:nth-child(9) {
  transition-delay: 150ms;
}

.skills:nth-child(10) {
  transition-delay: 200ms;
}

.skills:nth-child(11) {
  transition-delay: 250ms;
}

.skills:nth-child(12) {
  transition-delay: 300ms;
}

.skills img {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2))
    /* base stroke */

}

.skills:hover {
  box-shadow: 2px 4px 8px var(--gradient-purple), -2px -4px 8px var(--gradient-purple);
  scale: 1.02;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.skills span {
  color: var(--text-subtle);
  font-size: 1.25rem;
}

/* CONTACT ME CSS CODE */
#contactMe {
  background: var(--bg-dark-gray);
}

#contactMe h1 {
  text-align: center;
  color: var(--gradient-blue);
  font-size: var(--headingSize);
  margin-top: 24px;
}

#contactDiv {
  display: flex;
  gap: 24px;
  margin: 0 10%;
  width: calc(100%-24px);
}

form {
  width: 50%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.20), -5px -10px 10px rgba(0, 0, 0, 0.20);
  padding: 10px;
}

form h2 {
  color: var(--gradient-purple);
}

#SocialMedia {
  width: 50%;
}

#SocialMedia h2 {
  color: var(--gradient-purple);
  text-align: center;
  margin-bottom: 24px;

}

.iconRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-bottom: 24px;
  border-radius: 16px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.20), -5px -10px 10px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.icon a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--code-green);
}

.icon a i {
  font-size: 2rem;
}

.icon:hover {
  box-shadow: -2px -4px 5px var(--code-green), 2px 4px 5px var(--gradient-purple);
  scale: 1.03;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

footer {
  background: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink), var(--gradient-purple));
  color: var(--text-white);
  text-align: center;
  padding: 10px;
  box-shadow: 0 -5px 10px var(--code-green);
}

#scrollTopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 100;
  background-color: var(--gradient-purple);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
  opacity: .6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

#scrollTopBtn:hover {
  background-color: #0056b3;
}

/* Modal Background */
.video-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.video-modal-content {
  position: relative;
  margin: 5% auto;
  width: 90%;
  max-width: 720px;
  background: transparent;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 30px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

/* Responsive Design For Laptop */
@media (min-width : 800px) and (max-width: 1130px) {

  html {
    scroll-padding-top: 60px;
  }

  .navbar {
    height: 10vh;
    justify-content: center;
  }

  .navbar .menu {
    padding-right: 0;
  }

  .menu a {
    font-size: 1.2rem;
    padding: 0px 8px;
    cursor: pointer;
  }

  .menu a:hover {

    font-size: 1.3rem;
  }

  #aboutMe p {
    margin: 0 8%;
    font-size: 1.5rem;
  }

  .internship {
    margin: 0 8%;
    margin-bottom: 24px;
  }

  .internshipTab {
    width: 50%;
  }

  .projects {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8%;
    margin-bottom: 24px;
    height: auto;
  }

  .projectTab {
    width: calc(50% - 24px);
    /* Two per row with gap */
    box-sizing: border-box;
  }

  .projectTab:nth-child(2) {
    transition-delay: 100ms;
  }

  .projectTab:nth-child(3) {
    transition-delay: 0;
  }

  .projectTab:nth-child(4) {
    transition-delay: 100ms;
  }

  .skillsRow {
    margin: 0 8%;
  }

  .skills {
    flex: 1 1 calc(25% - 24px);
    /* 4 per row on medium screens */
    max-width: calc(25% - 24px);
  }

  .skills:nth-child(2) {
    transition-delay: 100ms;
  }

  .skills:nth-child(3) {
    transition-delay: 150ms;
  }

  .skills:nth-child(4) {
    transition-delay: 200ms;
  }

  .skills:nth-child(5) {
    transition-delay: 0;
  }

  .skills:nth-child(6) {
    transition-delay: 100ms;
  }

  .skills:nth-child(7) {
    transition-delay: 150ms;
  }

  .skills:nth-child(8) {
    transition-delay: 200ms;
  }

  .skills:nth-child(9) {
    transition-delay: 0;
  }

  .skills:nth-child(10) {
    transition-delay: 100ms;
  }

  .skills:nth-child(11) {
    transition-delay: 150ms;
  }

  .skills:nth-child(12) {
    transition-delay: 200ms;
  }

  #contactDiv {
    display: flex;
    margin: 0 8%;
  }

}

/* Responsive Design For Tablet (500px - 799px) */
@media (min-width : 500px) and (max-width: 799px) {


  body,
  html {

    scroll-padding-top: 50px;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .navbar .menu {
    padding-right: 0;
  }

  .menu a {
    font-size: .85rem;
    padding: 0px 5px;
  }

  #infoHeading h1 {
    font-size: 3rem;
    text-align: center;
  }

  #infoHeading p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 20px;
  }

  #mainButtons {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  #mainButtons a {
    padding: 14px 20px;
    font-size: 1rem;
  }

  #aboutMe p {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.2rem;
  }

  .internship {
    flex-direction: column;
    align-items: center;
    margin: 0 8%;
    margin-bottom: 24px;
  }

  .internshipTab {
    width: 100%;
    height: auto;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 24px;
    height: auto;
  }

  .projectTab {
    width: 100%;
    min-height: auto;
  }

  #techStack {
    padding: 24px 0px;
    text-align: center;
  }

  #techStack h2 {
    font-size: 2.5rem;
    color: var(--gradient-pink);
    margin-bottom: 24px;
  }

  .skillsRow {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 24px;
  }

  .skills {
    flex: 1 1 calc(33.33% - 24px);
    /* 3 per row with spacing */
    max-width: calc(33.33% - 24px);
  }


  .skills:nth-child(2) {
    transition-delay: 100ms;
  }

  .skills:nth-child(3) {
    transition-delay: 150ms;
  }

  .skills:nth-child(4) {
    transition-delay: 0;
  }

  .skills:nth-child(5) {
    transition-delay: 100ms;
  }

  .skills:nth-child(6) {
    transition-delay: 150ms;
  }

  .skills:nth-child(7) {
    transition-delay: 0;
  }

  .skills:nth-child(8) {
    transition-delay: 100ms;
  }

  .skills:nth-child(9) {
    transition-delay: 150ms;
  }

  .skills:nth-child(10) {
    transition-delay: 0;
  }

  .skills:nth-child(11) {
    transition-delay: 100ms;
  }

  .skills:nth-child(12) {
    transition-delay: 150ms;
  }

  #contactDiv {
    flex-direction: column;
    width: 84%;
    margin: 0 8%;
    gap: 16px;
  }

  form,
  #SocialMedia {
    width: 100%;
  }

  .icon {
    width: 100%;
  }

  .icon a i {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 10px 5px;
    border-radius: 16px 16px 0 0;
  }

  #scrollTopBtn {
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    padding: 10px 14px;
  }
}

/* Responsive Design For Mobile */
@media (max-width: 499px) {

  body,
  html {
    scroll-padding-top: 50px;
  }

  .navbar {
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }

  .menu a {
    padding: 10px 20px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu.show {
    display: flex;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 8%;
  }


  #infoHeading h1 {
    font-size: 3rem;
  }

  #infoHeading p {
    font-size: 1.2rem;
    text-align: center;
  }

  #mainButtons {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  #mainButtons a {
    padding: 14px 20px;
    font-size: 1rem;
  }

  #aboutMe {
    padding-bottom: 0;
  }

  #aboutMe p {
    margin-left: 8%;
    margin-right: 8%;
  }

  .internship {
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 24px;
  }

  .internshipTab {
    width: 100%;
    height: auto;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 24px;
    height: auto;
  }

  .projectTab {
    width: 100%;
    min-height: auto;
  }

  #techStack {
    text-align: center;
  }

  #techStack h2 {
    font-size: 2.5rem;
    color: var(--gradient-purple);
    margin-bottom: 24px;
  }

  .skillsRow {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 24px;
  }

  .skills {
    flex: 1 1 calc(50% - 24px);
    /* 2 per row */
    max-width: calc(50% - 24px);
  }

  .skills:nth-child(2) {
    transition-delay: 100ms;
  }

  .skills:nth-child(3) {
    transition-delay: 0;
  }

  .skills:nth-child(4) {
    transition-delay: 100ms;
  }

  .skills:nth-child(5) {
    transition-delay: 0;
  }

  .skills:nth-child(6) {
    transition-delay: 100ms;
  }

  .skills:nth-child(7) {
    transition-delay: 0;
  }

  .skills:nth-child(8) {
    transition-delay: 100ms;
  }

  .skills:nth-child(9) {
    transition-delay: 0;
  }

  .skills:nth-child(10) {
    transition-delay: 100ms;
  }

  .skills:nth-child(11) {
    transition-delay: 0;
  }

  .skills:nth-child(12) {
    transition-delay: 100ms;
  }

  #contactDiv {
    flex-direction: column;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    gap: 16px;
  }

  form,
  #SocialMedia {
    width: 100%;
  }

  .icon {
    width: 90%;
  }

  .icon a i {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 10px 5px;
    border-radius: 16px 16px 0 0;
  }

  #scrollTopBtn {
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    padding: 10px 14px;
  }
}